### Python files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

pip-log.txt
pip-delete-this-directory.txt


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version


### PyCharm files
.idea/
